* {margin:0;padding:0;box-sizing:border-box;}
body {font-family:'Comic Sans MS';background-color:#BF8C60;color:#F2E1D8;padding:20px;text-align:center;}
.animated-text {animation:glow 1s ease-in-out infinite alternate;}
@keyframes glow {from {text-shadow:0 0 10px #eba834,0 0 20px #eba834,0 0 30px #D91E41;} to {text-shadow:0 0 20px #fff,0 0 30px #ff4da6;}}
.modal {display:flex;justify-content:center;align-items:center;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.4);}
.modal-content {background-color:#6E6373;margin:auto;padding:20px;border:1px solid #888;width:80%;}
.close {color:#6E6373;float:right;font-size:28px;font-weight:bold;}
.close:hover,.close:focus {color:#6E6373;text-decoration:none;cursor:pointer;}
.slot-pair {background-color:#7ABF7F;margin:5px;padding:5px;border-radius:2px;border:1px solid #000;}
.slot {background-color:#F2E1D8;margin:5px;padding:10px;border-radius:5px;display:inline-block;width:calc(50% - 10px);font-weight:bold;color:#D93A2B;cursor:pointer;}
.slot:hover {background-color:#6E6373;}
.slot-taken {filter:blur(5px);}
.admin-button {background-color:red;color:white;padding:10px;margin:10px;font-size:16px;cursor:pointer;}
@media (max-width:768px) {.modal-content {width:90%;}}
